/* Larger font for the role title */
.title-role {
  font-size: 1.2rem;
  font-weight: 600;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #ffffff;
  color: #000000;
}

header {
  text-align: center;
  padding: 50px;
  background: #83b4f9;
}

header h1 {
  margin: 0;
  font-size: 2.9em;
}

.links a {
  color: #000000;
  margin: 0 10px;
  font-size: 1.5em;
}

section {
  padding: 10px 0 10px 0;
  max-width: 900px;
  margin: 0 auto 10px auto;
}

h2 {
  color: #006aff;
}



.skills ul {
  display: grid;
  /* grid-template-columns: repeat(3, 1fr); */
  list-style: none;
  padding: 0;
}

.skills ul li {
  margin-bottom: 12px;
}

.project {
  background: #83b4f9;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
}

.project a {
  color: #006aff;
}

footer {
  text-align: center;
  padding: 20px;
  background: #006aff;
}
